[defaults]
inventory = ./inventory
remote_user = ansible
gathering = explicit
pipelining = True

[privilege_escalation]
become=True

[ssh_connection]
ssh_args=-o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/ansible-ssh-%h-%p-%r -o ForwardAgent=yes
